{{template "base" .}}
{{ define "title" }}{{.Legislation.File}} {{.Legislation.Name}}{{ end }}
{{ template "base.html" . }}

{{define "head"}}

<style>
.action-date {
  font-weight: 200;
  font-size: .8rem;
  margin: 0 .4em;
}
.action {
  font-weight: 200;
  font-size: .9em;
}
.legislation {
  margin-bottom: 1.25rem;
}

.status-withdrawn > .name {
  text-decoration: line-through;
}

.body {
  font-weight: 200;
  font-size: .8rem;
}
.session {
    font-weight: 200;
    font-size: .8rem;
    /* display:block; */
}
.bill-number {
    margin-bottom: 0;
}
.name {
    font-size: 1.5rem;
}
.sponsor, .affirmative {
    background-color: rgb(113, 213, 132);
}
.negative {
    background-color: rgb(247, 194, 173);
}
.absent {
    background-color: rgb(213, 213, 213);
}

.person-block {
    border: 1px solid #aaa7;
    min-width:275px;
}
.flex-equal-width {
    flex-grow: 1; flex-shrink: 1; flex-basis: 0;
}
.summary {
    font-size:.9rem;
}
</style>
{{end}}

{{define "middle"}}
{{ with .Legislation}}
<div class="row">
    <div class="col-12">
        <div class="legislation status-{{.StatusName | CSSClass}}">
            <h2 class="bill-number">NYC Council {{.TypeName}} {{.FileNumber}}</h2>
            <a href="{{.IntroLink}}" class="file-link"><span class="badge file">{{.IntroLinkText}}</span></a>
            <span class="session mb-2">{{.Session}} Legislative Session</span>
            {{ if eq .StatusName "Enacted" }}
            <span class="badge bg-success status">Enacted</span>
            {{ else if eq .StatusName "Enacted (Mayor's Desk for Signature)" }}
            <span class="badge bg-success status">Mayor's Desk for Signature</span>
            {{else if eq .StatusName "Vetoed"}}
            <span class="badge bg-danger status">Vetoed</span>
            {{end}}

            <br>
            <span class="name">{{.Name}}</span><br>
        
            {{ if eq .StatusName "Enacted" }}
            {{ else if eq .StatusName "Enacted (Mayor's Desk for Signature)" }}
            {{else if eq .StatusName "Vetoed"}}
            {{else}}
            <span class="status"><strong>Status:</strong> {{ .StatusName }}</span>
            <span class="body">{{.BodyName}}</span><br/>
            {{end}}

            <span class="prime-sponsor">Sponsored by {{.PrimarySponsor.FullName }}</span>

        </div>
    </div>

    <div class="col-12 col-lg-3">
        <strong>Introduced:</strong> {{ .IntroDate.Format "January 2, 2006" }}
    </div>

    <div class="col=12">
        <iframe src="/map?mode=iframe&councilmembers={{Join $.SponsorSlugs ","}}" width="400" height="250" frameborder="0" class="map float-end my-2"></iframe>
        <p class="summary">{{.Summary}}</p>
    </div>
</div>  

<div class="row">


    {{ range .Votes }}
        <div class="col-12 mt-3">
        <h3>{{.Action}} {{.Date.Format "January 2, 2006"}}</h3>
        {{if ne .BodyID 1}}<span class="body">{{.BodyName}}</span>{{end}}
        <span class="badge {{if .VotePassed}}text-bg-success{{else}}text-bg-danger{{end}}">Votes {{.VoteSummary}}</span>
        <div class="d-flex flex-wrap align-content-start my-2 vote-summary">
            {{ range .Votes }}
            <div class="person-block flex-equal-width p-1 {{if eq .Result 1}}affirmative{{ else if eq .Result 2 }}negative{{else}}absent{{end}}">
                {{.FullName}} ({{.Vote}})
            </div>
            {{end}}
        </div>
        </div>
    {{ end}}


    <div class="col-12 mt-3">
        <h3>Sponsors: {{.Sponsors | len}}</h3>
        <div class="d-flex flex-wrap align-content-start my-2 sponsor-summary">
            {{ range $.Councilmembers }}
            <div class="person-block flex-equal-width p-1 {{ if ($.Legislation.SponsoredBy .ID ) }}sponsor{{end}}">
                {{ if ($.Legislation.SponsoredBy .ID) }}
                    <i class="bi bi-check-circle-fill"></i>
                {{ end }}
                {{ if $.Legislation.Session.IsCurrent }}
                    <a href="/councilmembers/{{.Person.Slug}}">{{ .FullName }}</a> {{.Party}}
                {{ else }}
                    {{ .FullName }} {{.Party}}
                {{ end }}
            </div>
            {{ end }}
        </div>
    </div>

</div>
{{ end }}
{{ end }}
