{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.local-law {
  margin-bottom: 1em;
}
.title {
  font-weight: 200;
  font-size: .9rem;
}
.callout {
  border-radius: 1em;
  padding: 1em;
}
.status-deferred {
  text-decoration: line-through;
  color:#666;
}
.metadata {
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  min-height:7rem;
}

.metadata .time, .event .body {
  display:block;
  font: 14px/20px Arial,Sans-serif;
  font-weight: 700;
  background-color: #efefef;
  line-height: 1.5;
  padding:3px 0;
  margin-bottom:3px;
}
.metadata .time {
  padding-left:5px;
}
.time >a > img {
  vertical-align: baseline;
}
.metadata .date {
  margin-top:4px;
}
.location {
  font-size:.8rem;
  color:#333;
}
.events {
  /* grid-auto-rows: minmax(100px, auto); */
  display: grid;
  grid-template-columns: 6rem 1fr;
  /* gap:20px; */
}
.metadata {
  grid-column: 1;
  border-top:1px solid #d0d0d0;
}
.event {
  grid-column: 2;
  border-top:1px solid #d0d0d0;
}
h2.date {
  grid-column: 1/3;
  font-size: calc(1rem + .5vw);
}
.agenda-status {
  font-weight: 500;
}
.item-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.id {
  font-size:12px;
  font-family: monospace;
}
.id > a, .id > a:visited {
  color: inherit;
}
.select-committee {
  display: inline-block;
  padding-right:1em;
  /* margin-right: 2em; */
}

.form-select {
  width:inherit;
  display: inline-block;
  max-width: 325px;
}
@media (min-width: 576px) { 
  .form-select {
    max-width: 400px;
  }
}

.agenda-item {
  border-left:2px solid #e0e0e0;
}

</style>
{{end}}


{{define "middle"}}

<div class="row">

<div class="col-12 col-lg-9 col-lg-7">

  <fieldset class="mb-3">
    <div class="select-committee">
    Committee: 
    <select name="committee" id="committee" class="form-select">
      <option value="" selected>All</option>
      {{range .Committees }}
      <option value="{{. | Slugify}}">{{.}}</option>
      {{end}}
    </select>
    </div>
    <div class="mb-1 d-inline-block"><a href="{{.CalendarFeed}}"> <i class="bi bi-calendar-date-fill"></i>
      <span class="d-none d-md-inline">iCalendar Feed</span></a></div>
   
  </fieldset>


<div class="events">
{{range .Events}}
<h2 class="date" data-date="{{.Date.Format "2006-01-02"}}">{{.Date.Format "January 2"}}</h2>

<div class="metadata status-{{.AgendaStatusName | Slugify}}">
  <!-- <span class="date">{{.Date.Format "2006-01-02"}}</span> -->
  <span class="time"><a href="{{.InSiteURL}}"><img src="/static/calendar-date.svg" width="14" height="14"> {{.Date.Format "3:00 pm"}}</a></span>
  {{if ne .AgendaStatusName "Final"}}
  <span class="agenda-status">Status: {{.AgendaStatusName}}</span>
  {{end}}
  {{if .AgendaFile}}
  <div class="agenda"><a href="{{.AgendaFile}}"><i class="bi bi-file-earmark-pdf"></i>
     Agenda</a></div>
  {{end}}
  <!-- <span class="id"><a href="{{.InSiteURL}}"># {{.ID}}</a></span> -->
</div>
<div class="event status-{{.AgendaStatusName | Slugify}}">
  <div class="body">{{.BodyName}}</div>
  {{if .Location}}
  <div class="location">{{.Location}}</div>
  {{end}}

  {{range .Items}}
  <div class="agenda-item ps-2 my-1">
    {{if eq .AgendaNote "Preconsidered"}}
    <span class="badge text-bg-primary float-start me-1">preconsidered</span>
    {{end}}
    {{if eq .MatterType "Oversight"}}
    <p class="item-title matter-type-{{.MatterType | Slugify}}">{{.Title}}</p>
    {{end}}
    {{if eq .MatterType "Introduction"}}
    <p><span class="badge text-bg-secondary float-start me-1">{{.MatterType}}</span>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "Resolution"}}
    <p>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "Land Use Application"}}
    <p>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "N/A"}}
    <p>{{.MatterName}}</p>
    {{end}}
  </div>
  {{end }}
</div>
{{end}}
</div>


</div>
</div>

{{end}}

{{ define "last-updated"}}
<p>Data Last Updated <span class="last-updated" title="{{.LastSync.LastRun}}">{{.LastSync.LastRun | Time}}</span></p>
{{end}}

{{define "javascript"}}
<script type="text/javascript">
const urlSearchParams = new URLSearchParams(window.location.search)
document.getElementById("committee").value = urlSearchParams.get("committee") === null? "" : urlSearchParams.get("committee")

document.getElementById("committee").addEventListener("change", () => {
  const s = document.getElementById("committee")
  const c = s.options[s.selectedIndex].value;

  var qs = new URLSearchParams(window.location.search)
  if(c.length >= 1) {
    qs.set("committee", c)
  } else {
    qs.delete("committee")
  }

  const l = qs.toString();
  const url = l.length == 0 ? window.location.pathname : window.location.pathname + "?" + l;
  document.location.href = url;
})

const df = new Intl.DateTimeFormat([], {dateStyle:"full", timeZone:"UTC"});
let seen = new Set()
Array.from(document.getElementsByClassName("date")).forEach(el => {
  if (seen.has(el.dataset.date)) {
    el.parentNode.removeChild(el)
    return
  }
  seen.add(el.dataset.date)
  el.innerText = df.format(new Date(el.dataset.date))
});
</script>
{{end}}