{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>
.local-law {
  margin-bottom: 1em;
}
.title {
  font-weight: 200;
  font-size: .9rem;
}
.callout {
  border-radius: 1em;
  padding: 1em;
}
.status-deferred {
  text-decoration: line-through;
  color:#666;
}
.metadata {
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
}
.metadata .date, 
.metadata .time {
  display:block;
}
.metadata .date {
  margin-top:4px;
}
.location {
  font-size:.8rem;
  color:#333;
}
.events {
  /* grid-auto-rows: minmax(100px, auto); */
  display: grid;
  grid-template-columns: 6rem 1fr;
  gap:20px;
}
.metadata {
  grid-column: 1;
  border-top:1px solid #f0f0f0;
}
.event {
  grid-column: 2;
  border-top:1px solid #f0f0f0;
}
.agenda-status {
  font-weight: 500;
}
.item-title {
  font-family: Verdana, Geneva, Tahoma, sans-serif
}
.id {
  font-size:12px;
  font-family: monospace;
}
</style>
{{end}}


{{define "middle"}}

<div class="row">

<div class="col-sm-12 col-lg-6 col-md-9">

  <fieldset class="my-5">
    <div class="select-committee">
    Committee: 
    <select name="committee" id="committee" class="form-select">
      <option value="" selected>All</option>
      {{range .Committees }}
      <option value="{{. | Slugify}}">{{.}}</option>
      {{end}}
    </select>
    </div>
  </fieldset>

<h3>Upcoming Events</h3>
<div class="events">
{{range .Events}}
<div class="metadata status-{{.AgendaStatusName | Slugify}}">
  <span class="date">{{.Date.Format "2006-01-02"}}</span>
  <span class="time">{{.Date.Format "3:00 pm"}}</span>
  {{if ne .AgendaStatusName "Final"}}
  <span class="agenda-status">Status: {{.AgendaStatusName}}</span>
  {{end}}
  <code class="id"><a href="{{.InSiteURL}}">{{.ID}}</a></code>
</div>
<div class="event status-{{.AgendaStatusName | Slugify}}">
  <div class="body">{{.BodyName}}</div>
  {{if .Location}}
  <div class="location">{{.Location}}</div>
  {{end}}
  {{if .AgendaFile}}
  <div class="agenda"><a href="{{.AgendaFile}}"><i class="bi bi-file-earmark-pdf"></i>
     Agenda</a></div>
  {{end}}

  {{range .Items}}
  <div>
    {{if eq .AgendaNote "Preconsidered"}}
    <span class="badge text-bg-primary float-start me-1">preconsidered</span>
    {{end}}
    {{if eq .MatterType "Oversight"}}
    <p class="item-title matter-type-{{.MatterType | Slugify}}">{{.Title}}</p>
    {{end}}
    {{if eq .MatterType "Introduction"}}
    <p><span class="badge text-bg-secondary">{{.MatterType}}</span>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "Resolution"}}
    <p>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "Land Use Application"}}
    <p>{{.MatterName}}</p>
    {{end}}
    {{if eq .MatterType "N/A"}}
    <p>{{.MatterName}}</p>
    {{end}}
  </div>

  <!-- <pre>
    {{. | toJSON}}
  </pre> -->
  {{end }}
</div>
{{end}}
</div>


</div>
</div>

{{end}}

{{ define "last-updated"}}
<p>Data Last Updated <span class="last-updated" title="{{.LastSync.LastRun}}">{{.LastSync.LastRun | Time}}</span></p>
{{end}}

{{define "javascript"}}
<script type="text/javascript">
const urlSearchParams = new URLSearchParams(window.location.search)
document.getElementById("committee").value = urlSearchParams.get("committee") === null? "" : urlSearchParams.get("committee")

document.getElementById("committee").addEventListener("change", () => {
  const s = document.getElementById("committee")
  const c = s.options[s.selectedIndex].value;

  var qs = new URLSearchParams(window.location.search)
  if(c.length >= 1) {
    qs.set("committee", c)
  } else {
    qs.delete("committee")
  }

  const l = qs.toString();
  const url = l.length == 0 ? window.location.pathname : window.location.pathname + "?" + l;
  document.location.href = url;
})
</script>
{{end}}