{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<style>

#search {
  background-color: #F9F9F7;
  padding: 1em;
  border-radius: 1em;
}
#search > h2 {
  font-size: 1em;
  font-weight: 200;
  border-bottom: 1px solid #ddd;
}
.action-date {
  font-weight: 200;
  font-size: .8rem;
  margin: 0 .4em;
}
.action {
  font-weight: 200;
  font-size: .9em;
}

.legislation {
  margin-bottom: 1.25rem;
}
.legislation .title {
  font-size: .8rem;
  color: #333;
  margin-left: 3rem;
  /*display: block;*/
  display: none;
}
.legislation .last-update {
  font-size: .7em;
  background-color: #fff0c6;
  padding: .1rem .2rem;
}

#q {
  max-width: 100rem;
}
#search-results {
  min-height: 200px;
  padding: 1em 0;
}
.search-term {
  background-color: #fff0c6;
}
.form-check {
  font-size: .8rem;
}
.status-withdrawn > .name {
  text-decoration: line-through;
}


</style>
{{end}}


{{define "middle"}}

<div class="row">
<div class="col-sm-12 col-md-6">

<div id="search-loading">
<div class="spinner-border text-primary" role="status" ></div>
Loading...
</div>

<div id="search" style="display:none;">
<h2><i class="bi bi-search"></i> Search NYC Council Legislation</h2>
<form action="/" method="GET" id="searchform">
  <div class="input-group mb-1">
    <input type="text" class="form-control" placeholder='ex: "sidewalk" or "emissions"' id="q" name="q">
    <button class="btn btn-primary" type="submit" id="search-btn">Search</button>
  </div>

{{ range .Sessions }}
<div class="form-check">
  <input class="form-check-input" type="radio" name="session" id="session_{{.StartYear}}" value="{{.}}">
  <label class="form-check-label" for="session_{{.StartYear}}">
    {{.}} Legislative Session
  </label>
</div>
{{end}}

</form>

</div>

</div>
</div>

<div class="row">
<div class="col">


<template id="legislation-template">
  <div class="legislation">
    <a href="" class="file-link"><span class="badge file"></span></a>
    <a href="" class="file-link-plus"><i class="bi bi-patch-plus-fill"></i></a>
    <span class="name"></span>
    <span class="badge bg-success status">Enacted</span>
    <span class="badge bg-danger status">Vetoed</span>
    <br>
    <span class="title"></span>
    <span class="last-update"></span>
  </div>
</template>

<div id="search-results">

</div>

</div>

</div>
{{end}}

{{define "javascript"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/FlexSearch/0.7.2/flexsearch.es5.js" integrity="sha512-wz43ZAB8+0NQD7Yd+QC9afZaVxkC74GLPn0IzewyfExb88Cziu7fD6iUZYyjAMCT3n5mR/80rB73tOJin4UKsw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="text/javascript">
// TODO
// is 'template' supported
// if ('content' in document.createElement('template')) {

function diffDates(start, end) {
    // const date1 = new Date(start);
    // const date2 = new Date(end);

    // One day in milliseconds
    const oneDay = 1000 * 60 * 60 * 24;
    const oneHour = 1000 * 60 * 60;
    const oneMinute = 1000 * 60;

    // Calculating the time difference between two dates
    const diffInTime = start.getTime() - end.getTime();

    // Calculating the no. of days between two dates
    const days = Math.round(diffInTime / oneDay);
    if (days != 0) {
      return {unit:"day", units:days}
    }
    const hours = Math.round(diffInTime / oneHour);
    if (hours != 0) {
      return {unit:"hour", units:hours}
    }
    const minutes = Math.round(diffInTime / oneMinute);
    if (minutes != 0) {
      return {unit:"minute", units:minutes}
    }
    return {unit:"second", units: Math.round(diffInTime / 1000) }
}

function shortDate(d, opt) {
  return d.toLocaleString(undefined, {
    year: 'numeric',
    month: 'short',
    day: 'numeric',
    timeZone: 'America/New_York'
  })
}


const rtf = new Intl.RelativeTimeFormat("en", {
    // localeMatcher: "best fit", // other values: "lookup"
    numeric: "always", // other values: "auto"
    style: "long", // other values: "short" or "narrow"
});

// bootstrap search from URL
const urlSearchParams = new URLSearchParams(window.location.search)
document.getElementById("q").value = urlSearchParams.get("q");
const defaultSession = urlSearchParams.get("session") ? urlSearchParams.get("session") : "{{index .Sessions 0}}";
document.getElementsByName("session").forEach(e => {e.checked = (e.value == defaultSession)})


function newIndex() {
  return new FlexSearch.Document({
    charset: "latin:advanced", 
    tokenize: "forward",
    document : {
      id: "File",
      index: ["File", "ShortFile", "Name", "Title", "Summary"],
    }
  });
}
var index = {}
index[defaultSession] = newIndex();

var lookupData = {};
var recentData = [];
// isRecentDate checks if a date is in the last 30 days
const today = (new Date()).valueOf()
function isRecentDate(d, cuttoffDays) {
  const start = today - (cuttoffDays*24*60*60*1000);
  const ms = d.valueOf()
  return start <= ms && ms <= today
}
function isDate(d) {
  return d !== "0001-01-01T00:00:00Z"
}
function compareDates(a, b) {
  return (a>b)-(a<b)
}

  fetch(`/data/search_index_${defaultSession}.json`)
  .then(response => {return response.json();})
  .then(d => {
    d.forEach(dd => {
      dd.ShortFile = dd.File.split('-')[0].replace(/^Int 0+/,"") // allows searching w/o leading zero
      dd.LastModifiedDt = new Date(dd.LastModified)
      index[defaultSession].add(dd);
      lookupData[dd.File] = dd
    })
  }).then(_ =>{
  document.getElementById("search-loading").style.display = 'none';

  const q = document.getElementById("q");
  document.getElementById('search').style.display = '';
  search(q.value, radioSelectedValue("session"))
  q.addEventListener("input", onsearchupdate);
  document.getElementsByName("session").forEach(d => {
    d.addEventListener("change", onsearchupdate)
  })
  document.getElementById("searchform").addEventListener("submit", event => {event.preventDefault()})
})

function radioSelectedValue(field) {
  const e = document.getElementsByName(field);
  for (let i = 0; i < e.length; i++) { 
    if (e[i].checked) {
      return e[i].value;
    }
  }
}

function onsearchupdate() {
  var qs = new URLSearchParams()
  const q = document.getElementById("q");
  if (q.value.length > 0) {
    qs.set("q", q.value)
  }

  const session = radioSelectedValue("session");
  if (session != "{{index .Sessions 0}}") {
    qs.set("session", session)
  }

  const l = qs.toString();
  history.pushState(null, document.title, l.length == 0 ? "/" : "/?" + l)

  if (index[session] == undefined) {
    document.querySelector("#search-results").innerHTML = '<div class="spinner-border text-primary" role="status" ></div>';
    // clear previous results before fetch

    index[session] = newIndex();
    fetch(`/data/search_index_${session}.json`)
    .then(response => {return response.json();})
    .then(d => {
      d.forEach(dd => {
        dd.LastModifiedDt = new Date(dd.LastModified)
        index[session].add(dd);
        lookupData[dd.File] = dd
      })
      search(q.value, session)
    })
  } else {
    search(q.value, session)
  }
}

function search(q, session) {
  document.querySelector("#search-results").innerHTML = '';
  var results = index[session].search(q, 75)
  // console.log("results", results)
  var seen = {};
  var resultArray = [];
  var hasResults = false;
  results.forEach(r => {
    r.result.forEach(file => {
      if (seen[file]) {return}
      seen[file] = true;
      hasResults = true;
      resultArray.push(lookupData[file])
    })
  })
  if (!hasResults) {
    if (q !== "") {
      // add "no results"
      p = document.createElement("p")
      p.class="no-results"
      p.textContent = "No results"
      document.querySelector("#search-results").appendChild(p)
    }
  } else {
      p = document.createElement("p")
      p.class="search-summary"
      p.innerHTML =  `${resultArray.length} result${resultArray.length > 1 ? "s"  : ""} for <span class='search-term'></span>`
      document.querySelector("#search-results").appendChild(p)
      document.querySelector(".search-term").textContent = "\"" + q +"\""

    resultArray.sort((a, b) => {return a.File.localeCompare(b.File)})
    resultArray.forEach(d => addSearchResult(d))
  }
}
function addSearchResult(row) {
    // console.log("addResult", row)
    var target = document.querySelector("#search-results");
    var template = document.querySelector('#legislation-template');
    var clone = template.content.cloneNode(true);
    if (row.StatusName == "Withdrawn") {
      clone.querySelectorAll(".legislation")[0].className += " status-withdrawn";
    }
    const file = row.File.replace("Int ", "")
    clone.querySelectorAll(".file-link")[0].href="/" + file;
    clone.querySelectorAll(".file-link-plus")[0].href="/" + file + "+";
    clone.querySelectorAll(".file")[0].textContent="intro.nyc/"+file;
    clone.querySelectorAll(".name")[0].textContent=row.Name;
    clone.querySelectorAll(".title")[0].textContent=row.Title;
    var enacted = false;
    var vetoed = false;
    if (row.StatusName == "Enacted (Mayor's Desk for Signature)" || row.StatusName == "Enacted") {
      enacted = true;
    }
    if (row.StatusName == "Vetoed") {
      vetoed = true;
    }
    clone.querySelectorAll(".status")[0].style.display = enacted ? "" : "none";
    clone.querySelectorAll(".status")[1].style.display = vetoed ? "" : "none";

    if (isRecentDate(row.LastModifiedDt, 14)) {
      const diff = diffDates(row.LastModifiedDt, new Date());
      // console.log(diff, row.LastModifiedDt)
      clone.querySelectorAll(".last-update")[0].textContent = "Updated " + rtf.format(diff.units, diff.unit)
    } else {
      clone.querySelectorAll(".last-update")[0].remove()
    }

    target.appendChild(clone);
}
</script>
{{end}}

