{{template "base" .}}
{{define "title"}}{{.Title}}{{end}}
{{define "head"}}

<link href='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.css' rel='stylesheet' />

<style>

#map {
    min-width: 400px;
    min-height: 600px;
}
</style>
{{end}}


{{define "middle"}}

<div class="row">
<div class="col-sm-12">

<p class="alert alert-warning">Map shows 2024 Council Boundaries</p>
<div id="map-loading">
<div class="spinner-border text-primary" role="status" ></div>
Loading...
</div>

<div id="map"></div>

</div>
</div>

{{end}}

{{define "javascript"}}
<script src="https://unpkg.com/@turf/turf@6/turf.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.13.0/mapbox-gl.js'></script>
<script type="module">
import polylabel from "https://cdn.skypack.dev/polylabel@1.1.0";
// import polylabel from "https://cdnjs.cloudflare.com/ajax/libs/polylabel/1.1.0/polylabel.min.js";

var bounds = [
    [-74.3, 40.4], // Southwest coordinates
    [-73.5, 41.0]  // Northeast coordinates
];

mapboxgl.accessToken = 'pk.eyJ1IjoiamVoaWFoIiwiYSI6IlRXOEpQV1kifQ.oUrBuVkkuZHmi0QUBvIBhg';
const map = new mapboxgl.Map({
container: 'map', // container ID
// style: 'mapbox://styles/mapbox/streets-v12', // style URL
style: 'mapbox://styles/jehiah/clfkhedeg000f01oj4nz5c06x',
center: [-73.9772, 40.7749], // NYC coordinates
zoom: 10, // starting zoom
maxBounds: bounds // Set the maximum bounds for the map
});
map.addControl(new mapboxgl.NavigationControl());
let sourceObject = null;

const councilMembers = {}

fetch("/data/people_metadata.json").then((response) => response.json()).then(d => {
    d.forEach(p => {
        // there are multiples - use the last one for now
        councilMembers[p.District] = p.FullName
    })
})

let councilMapPromise = 
        fetch("/static/nyc_city_council_2024.geojson")
          .then((response) => response.json())

// from https://github.com/mapbox/polylabel/issues/54#issuecomment-638917580
function findPolylabel(feature){
  let output = [];
  if (feature.geometry.type === "Polygon"){
    output = polylabel(feature.geometry.coordinates);
  }
  else {
    let maxArea = 0, maxPolygon = [];
    for (let i = 0, l = feature.geometry.coordinates.length; i < l; i++){
      const p = feature.geometry.coordinates[i];
    //   const area = geoArea({type: "Polygon", coordinates: p})
      const area = turf.area({type: "Polygon", coordinates: p})
      if (area > maxArea){
        maxPolygon = p;
        maxArea = area;
      }
    }
    output = polylabel(maxPolygon);
  }
  return output;
}

map.on('load', () => {
    document.getElementById("map-loading").style.display = 'none';

    councilMapPromise.then(councilMap => {
        // councilMap.features.map(d=>{console.log(d.properties.namecol, findPolylabel(d)))
        map.addSource('city-council-districts', {
            type: 'geojson',
            data: councilMap
        });

        map.addSource('city-council-labels', {
            type: 'geojson',
            data: {
            type: "FeatureCollection",
            features: councilMap.features.map(d=>{
                return {
                    type: "Feature",
                    properties: d.properties,
                    geometry: {
                        type: "Point",
                        coordinates: findPolylabel(d)
                    }
                }
            })
            }
        });


        map.addLayer({
            id: 'city-council-districts',
            type: 'fill',
            source: 'city-council-districts',
            paint: {
                'fill-color': '#B6DCEB', // District fill color
                'fill-opacity': 0.5, // District fill opacity
                'fill-outline-color': '#19486A' // Dark blue stroke color
            }
        });

        map.addLayer({
            id: 'district-numbers',
            type: 'symbol',
            source: 'city-council-labels',
            layout: {
                'text-field': '{namecol}',
                'text-font': ['Open Sans Bold'],
                'text-size': 12,
                // 'symbol-placement': 'point', // Only display one label per point
                'text-allow-overlap': true, // Allow labels to overlap with each other
                // 'text-anchor': 'left'
            },
            paint: {
                'text-color': '#19486A' // Dark blue text color
            }
        });

        // Add a popup to show district information when a district is clicked
        map.on('click', 'city-council-districts', function (e) {
        var properties = e.features[0].properties;
        properties.dist = parseInt(properties.namecol, 10)
        var councilMember = councilMembers[properties.dist];
        var website = "https://council.nyc.gov/district-" + properties.dist;
        var districtName = "District " + properties.dist;

        new mapboxgl.Popup()
            .setLngLat(e.lngLat)
            .setHTML('<h3>' + districtName + '</h3>' + '<p>Council Member: <br><strong><a href="/councilmembers/' + properties.dist + '">' + councilMember + '</a></strong></p>' + '<p><a href="' + website + '">Website</a></p>')
            .addTo(map);
        });

        // Change the cursor to a pointer when the mouse is over a district
        map.on('mouseenter', 'city-council-districts', function () {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change it back to a default cursor when it leaves
        map.on('mouseleave', 'city-council-districts', function () {
            map.getCanvas().style.cursor = '';
        });
    })

    // var popup = new mapboxgl.Popup({
    //     closeButton: false,
    //     closeOnClick: false
    // });

    // // Show the popover when the mouse enters a district
    // map.on('mouseenter', 'city-council-districts', function (e) {
    //     var properties = e.features[0].properties;
    //     var councilMember = properties.council_member;
    //     var website = "https://council.nyc.gov/district-" + properties.dist;
    //     var districtName = "District " + properties.dist;

    //     map.getCanvas().style.cursor = 'pointer';

    //     popup.setLngLat(e.lngLat)
    //         .setHTML('<h3>' + districtName + '</h3>' + '<p>Council Member: ' + councilMember + '</p>' + '<p><a href="' + website + '">Website</a></p>')
    //         .addTo(map);
    // });

    // // Hide the popover when the mouse leaves a district
    // map.on('mouseleave', 'city-council-districts', function () {
    //     map.getCanvas().style.cursor = '';
    //     popup.remove();
    // });

    //     // Add a symbol layer
    // map.addLayer({
    // 'id': 'points',
    // 'type': 'symbol',
    // 'source': 'points',
    // 'layout': {
    // 'icon-image': 'custom-marker',
    // // get the title name from the source's "title" property
    // 'text-field': ['get', 'title'],
    // 'text-font': [
    // 'Open Sans Semibold',
    // 'Arial Unicode MS Bold'
    // ],
    // 'text-offset': [0, 1.25],
    // 'text-anchor': 'top'
    // }
    // });

})



/* 
Add an event listener that runs
  when a user clicks on the map element.
*/
// map.on('click', (event) => {
//   // If the user clicked on one of your markers, get its information.
//   const features = map.queryRenderedFeatures(event.point, {
//     layers: ['jehiah.6u6fijj6'] // replace with your layer name
//   });
//   if (!features.length) {
//     return;
//   }
//   const feature = features[0];

//   // Code from the next step will go here.
// });

// const popup = new mapboxgl.Popup({ offset: [0, -15] })
//   .setLngLat(feature.geometry.coordinates)
//   .setHTML(
//     `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
//   )
//   .addTo(map);


</script>
{{end}}

