{{template "base" .}}
{{define "title"}}Report: Most Sponsored Legislation{{end}}
{{define "head"}}

<style>
.action-date {
  font-weight: 200;
  font-size: .8rem;
  margin: 0 .4em;
}
.action {
  font-weight: 200;
  font-size: .9em;
}
.legislation {
  margin-bottom: 1.25rem;
}
.attribution, .body {
  font-weight: 200;
  font-size: .8rem;
}
.status-withdrawn > .name {
  text-decoration: line-through;
}
.scheduled {
  margin: 0 .25rem;
  font-size: .8rem;
  background-color: #fff0c6;
  padding: .1rem .2rem;
}
.sponsor_count {  
  font-weight: bold;
}
.sponsors_suffix {
  font-size: .6rem;
  font-weight: normal;
}
@media (min-width: 576px) { 
  .sponsors_suffix {
    font-size: .8rem;
  }
}

.legislation .last-update {
  font-size: .7em;
  background-color: #fff0c6;
  padding: .1rem .2rem;
}
.hidden {
  display: none;
}
.hearing-held {
  display: inline-block;
  padding: 2px;
  font-size: 7pt;
  background-color: #fbe9e9;
  color: #666;
  border: solid 1px #b43128;
  border-radius: 5px;
}

.vote-held {
  display: inline-block;
  padding: 2px;
  font-size: 7pt;
  background-color: #f8d2fe;
  color: #666;
  border: solid 1px #9c27b0;
  border-radius: 5px;
}
.vote-held > .bi-check2-circle {
  font-size:1.4em;
  vertical-align: bottom;
  line-height: 1;
  color:#444;
}

.hearing-held > .bi-calendar4 {
  font-size:1.3em;
  line-height: 1;
  color:#444;
}

.sponsor-badge {
  display: block;
  font-size: 6pt;
  line-height: 12px;
  height: 12px;
  color: #999;
}
.sponsor-badge .bi-star-fill {
  color:#f7df9e;
  font-size:1.2em;
  /* border:1px solid #f00; */
  /* stroke:#aaa ; */
}


.form-select {
  width:inherit;
  display: inline-block;
  max-width: 350px;
}
.form-check {
  display: inline-block;
}
.select-committee {
  display: inline-block;
  margin-right: 2em;
}

@media (min-width: 576px) { 
  .form-select {
    max-width: 450px;
  }
}

</style>
{{end}}


{{define "middle"}}

{{template "report_nav" .SubPage}}

<fieldset class="my-4">
  <div class="select-committee">
  Committee: 
  <select name="committee" id="committee" class="form-select">
    <option value="" selected>All</option>
    {{range .Committees }}
    <option value="{{. | Slugify}}">{{.}}</option>
    {{end}}
  </select>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="show" id="enacted">
    <label class="form-check-label" for="enacted">
      Show Enacted
    </label>
  </div>
</fieldset>

{{range .Legislation}}

<div class="row justify-content-between sponsor-row" data-status="{{.StatusName | ToLower}}" data-committee="{{TrimPrefix .BodyName "Committee on " | Slugify }}">
  <div class="col-2 col-md-1 sponsor_count">
    <span class="sponsors">{{.NumberSponsors}} <span class="sponsors_suffix">Sponsors</span></span><br>
    {{ with CommitteeSponsors .}}

    {{if .SuperMajority }}
    <span class="sponsor-badge sponsor-supermajority" title="Sponsored by a veto proof supermajority of Councilmembers ({{.CouncilmemberSponsors}})">
      <i class="bi bi-star-fill"></i>
      Supermajority
    </span>
    {{else if .Majority }}
    <span class="sponsor-badge sponsor-majority" title="Sponsored by a majority of Councilmembers ({{.CouncilmemberSponsors}})">
      <i class="bi bi-star-fill"></i>
      Majority
    </span>
    {{end}}

    <span class="sponsor-badge {{if .CommitteeMajority}} sponsor-committee-majority{{else}}sponsor-committee-minority{{end}} " title="Sponsored by {{.CommitteeString}} on {{.BodyName }}">
      {{if .CommitteeMajority}}
      <i class="bi bi-star-fill"></i>
      {{else}}
      <i class="bi bi-star"></i>
      {{end}}
      {{.CommitteeString}} Committee
    </span>
    {{end}}

  </div>
  <div class="col-10 col-md-11 legislation status-{{.StatusName | CSSClass}}">

    <a href="{{.IntroLink}}" class="file-link"><span class="badge file">{{.IntroLinkText}}</span></a>
    <span class="name">{{.Name}}</span>

    {{ if eq .StatusName "Enacted" }}
    <span class="badge bg-success status">Enacted</span>
    {{else if eq .StatusName "Vetoed"}}
    <span class="badge bg-danger status">Vetoed</span>
    {{end}}

    <br>
    <span class="attribution">by <a href="/councilmembers/{{.PrimarySponsor.Slug}}" class="sponsor">{{.PrimarySponsor.FullName}}</a></span> <span class="body">{{.BodyName}}</span>
    {{ if .IsRecent }} <span class="last-update">{{.RecentDate | RFC3339}}</span> {{end}}

    {{ if or .Hearings .Votes }}
    <br>
    {{end}}
    {{ range .Hearings }}
    <span class="hearing-held" title="Hearing on {{.Date.Format "Jan 02 2006"}} by {{.BodyName}}">
      <i class="bi bi-calendar4"></i>
      Hearing {{.Date.Format "Jan 02 2006"}}
    </span>
    {{end}}
    {{ range .Votes }}
    <span class="vote-held" title="Approved on {{.Date.Format "Jan 02 2006"}} by {{.BodyName}}">
      <i class="bi bi-check2-circle"></i>
      Passed {{if eq .BodyName "City Council"}}City Council{{else}}Committee{{end}} {{.Date.Format "Jan 02 2006"}} 
    </span>
    {{end}}

  </div>
</div>

{{end}}

{{end}}

{{ define "last-updated"}}
<p>Data Last Updated <span class="last-updated" title="{{.LastSync.LastRun}}">{{.LastSync.LastRun | Time}}</span></p>
{{end}}

{{define "javascript"}}
<script type="text/javascript">

function diffDates(start, end) {
    // const date1 = new Date(start);
    // const date2 = new Date(end);

    // One day in milliseconds
    const oneDay = 1000 * 60 * 60 * 24;
    const oneHour = 1000 * 60 * 60;
    const oneMinute = 1000 * 60;

    // Calculating the time difference between two dates
    const diffInTime = start.getTime() - end.getTime();

    // Calculating the no. of days between two dates
    const days = Math.round(diffInTime / oneDay);
    if (days != 0) {
      return {unit:"day", units:days}
    }
    const hours = Math.round(diffInTime / oneHour);
    if (hours != 0) {
      return {unit:"hour", units:hours}
    }
    const minutes = Math.round(diffInTime / oneMinute);
    if (minutes != 0) {
      return {unit:"minute", units:minutes}
    }
    return {unit:"second", units: Math.round(diffInTime / 1000) }
}


const rtf = new Intl.RelativeTimeFormat("en", {
    // localeMatcher: "best fit", // other values: "lookup"
    numeric: "always", // other values: "auto"
    style: "long", // other values: "short" or "narrow"
});


// bootstrap search from URL
const urlSearchParams = new URLSearchParams(window.location.search)
document.getElementById("committee").value = urlSearchParams.get("committee") === null? "" : urlSearchParams.get("committee")
document.getElementById("enacted").checked = urlSearchParams.get("enacted") === "show"

const today  = new Date();
document.querySelectorAll(".last-update").forEach(d => {
    const diff = diffDates(new Date(d.innerHTML), today);
    d.innerHTML = "Updated " + rtf.format(diff.units, diff.unit);
});

document.getElementById("enacted").addEventListener("change", () => {
  const s = document.getElementById("enacted")
  var qs = new URLSearchParams(window.location.search)
  if (s.checked) {
    qs.set("enacted", "show")
  } else {
    qs.delete("enacted")
  }
  const l = qs.toString();
  history.pushState(null, document.title, l.length == 0 ? window.location.pathname : window.location.pathname + "?" + l)
  runFilter()
})


document.getElementById("committee").addEventListener("change", () => {
  const s = document.getElementById("committee")
  const c = s.options[s.selectedIndex].value;

  var qs = new URLSearchParams(window.location.search)
  if(c.length >= 1) {
    qs.set("committee", c)
  } else {
    qs.delete("committee")
  }

  const l = qs.toString();
  history.pushState(null, document.title, l.length == 0 ? window.location.pathname : window.location.pathname + "?" + l)

  runFilter()
})



function runFilter() {
  var qs = new URLSearchParams(window.location.search)
  const c = qs.get("committee")
  const e = qs.get("enacted") === "show"
  document.querySelectorAll(".sponsor-row").forEach(d => {
    var desired = true;
    if ((c !== "" && c != null) && d.dataset.committee != c ) {
      desired = false;
    }
    if (!e && d.dataset.status === "enacted" ) {
      desired = false;
    }
    d.classList.toggle("hidden", !desired)
  })
}
runFilter()
</script>
{{end}}

