{{template "base" .}}
{{define "title"}}NYC Council Member Similarity{{end}}
{{define "head"}}

<style>


.form-select {
  width:inherit;
  display: inline-block;
  max-width: 350px;
}
.form-check {
  display: inline-block;
}
.select-session {
  display: inline-block;
  margin-right: 1em;
}
.select-councilmember {
  display: inline-block;
  margin-right: 1em;
}
.party {
  font-weight: 200;
}
.nav-tabs {
  font-size: .7rem;
}
.nav-link {
  padding: 0.75rem 0.25rem;
}

@media (min-width: 576px) { 
  .form-select {
    max-width: 450px;
  }
  .nav-link {
    padding: 0.5rem 1rem;
  }
  .nav-tabs {
    font-size: 1rem;
  }
}

</style>
{{end}}


{{define "middle"}}

{{template "report_nav" .SubPage}}


<fieldset class="my-4">
  <div class="select-session">
  <select name="session" id="session" class="form-select">
    {{range .Sessions }}
    <option value="{{.}}" {{if eq . $.Session}} selected {{end}}>{{.}} Legislative Session</option>
    {{end}}
  </select>
  </div>

  <div class="select-councilmember">
    Council Member: 
    <select name="councilmember" id="councilmember" class="form-select">
      {{range .People }}
      <option value="{{.Slug}}" {{if eq .Slug $.Person.Slug}} selected {{end}}>{{.FullName}}</option>
      {{end}}
    </select>
  </div>
</fieldset>


{{with $row := index $.Matrix $.Person.ID }}
<div class="my-4">
  <h3 class="mb-3">Similarity scores for {{$.Person.FullName}}</h3>
  <p>Voting similarity for 
    {{if $.Session.IsCurrent }}
      <a href="/councilmembers/{{$.Person.Slug}}"><strong>{{$.Person.FullName}}</strong></a> 
    {{ else }}
      <strong>{{$.Person.FullName}}</strong> 
    {{ end }} 
    is calculated with <mark>{{$row.ExpectedVotes}} votes</mark>
    and <mark>{{$row.ExpectedSponsors}} bill sponsorships</mark>.
    </p>
</div>
{{end}}

<table class="table table-sm" id="data-table">
  <thead>
    <tr>
      <th data-sortInitialOrder="asc">Council Member</th>
      <th class="party">Party</th>
      <th>Sponsorship Similarity</th>
      <th>Voting Similarity</th>
    </tr>
  </thead>
  <tbody>
    {{range .People}}
    {{with $row := index $.Matrix .ID}}
    <tr>
      {{if eq .Person.Person.Slug $.Person.Slug}}
      <th>{{.FullName}}</th>
      {{ else }}
      <th><a href="/reports/similarity?councilmember={{.Person.Person.Slug}}&session={{$.Session}}">{{.FullName}}</a></th>
      {{end}}
      <td class="party">{{.PartyShort}}</td>
      <td data-percent="{{printf "%0.1f%%" $row.SponsorPercent }}" class="sponsor-percent">{{printf "%0.1f%%" $row.SponsorPercent }}</td>
      <td data-percent="{{printf "%0.1f%%" $row.VotePercent }}" class="vote-percent">{{printf "%0.1f%%" $row.VotePercent }} &nbsp; <small>{{$row.Votes}} of {{$row.ExpectedVotes}}</small></td>
    </tr>
    {{end}}
    {{end}}
  </tbody>
</table>

<div class="my-3">
  <p><strong>Methodology:</strong> 
    The most recent committee or full council vote for each bill is used. 
    Votes marked with an excused absense (Maternity, Paternity, Parental, Jury Duty, Medical, 
    Bereavement, Conflict, Suspended, Non-voting, Excused) are excluded from calculations for that Council Member.
 </p>
</div>

{{end}}

{{ define "last-updated"}}
<p>Data Last Updated <span class="last-updated" title="{{.LastSync.LastRun}}">{{.LastSync.LastRun | Time}}</span></p>
{{end}}

{{define "javascript"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/js/jquery.tablesorter.min.js" integrity="sha512-qzgd5cYSZcosqpzpn7zF2ZId8f/8CHmFKZ8j7mU4OUXTNRd5g+ZHBPsgKEwoqxCtdQvExE5LprwwPAgoicguNg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.31.3/css/theme.bootstrap_4.min.css" integrity="sha512-2C6AmJKgt4B+bQc08/TwUeFKkq8CsBNlTaNcNgUmsDJSU1Fg+R6azDbho+ZzuxEkJnCjLZQMozSq3y97ZmgwjA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script type="module">
import {scaleLinear} from "https://cdn.skypack.dev/d3-scale@4";

document.getElementById("session").addEventListener("change", _ => {
  var qs = new URLSearchParams(window.location.search)
  let s = document.getElementById("session");
  qs.delete("councilmember")
  qs.set("session", s.value)
  location.href = location.pathname + "?" + qs.toString();
})


document.getElementById("councilmember").addEventListener("change", _ => {
  const s = document.getElementById("councilmember")
  const c = s.options[s.selectedIndex].value;
  var qs = new URLSearchParams(window.location.search)
  qs.set("councilmember", c)
  location.href = location.pathname + "?" + qs.toString();
})

$(function() {
  $("#data-table").tablesorter({sortList:[[2,1]],  theme : "bootstrap", sortInitialOrder:"desc", sortRestart: true});
});

const color1 = scaleLinear().domain([0,100]).range(["#f9f7fb", "#9996c6"]) // purple
const color2 = scaleLinear().domain([0,100]).range(["#f2faf0", "#53b365"]) // green
Array.from(document.getElementsByClassName("vote-percent")).forEach(e => {
  e.style.backgroundColor = color1(parseFloat(e.dataset.percent))
});
Array.from(document.getElementsByClassName("sponsor-percent")).forEach(e => {
  e.style.backgroundColor = color2(parseFloat(e.dataset.percent))
});


</script>
{{end}}

